<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WLK Taxi Services - 24x7 Service</title>
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-autocomplete.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/jquery.sizzle.js"></script>
    <script src="~/Scripts/Site.js"></script>

    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div id="mobileLogoBox">
                    <img src="~/Images/wlk-taxi-logo.png" width="50" height="50" style="margin-top: 5px;" />
                    @*<h3>WLK Taxi Services</h3>*@
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><i class="fa fa-home"></i>&nbsp;&nbsp;Home</li>
                    <li><i class="fa fa-suitcase"></i>&nbsp;&nbsp;Services</li>
                    <li><i class="fa fa-taxi"></i>&nbsp;&nbsp;Our Fleet</li>
                    <li><i class="fa fa-gbp"></i>&nbsp;&nbsp;Get Quotes</li>
                    <li><i class="fa fa-phone"></i>&nbsp;&nbsp;Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="yellowLogoBox">
        <div class="container">
            <img src="~/Images/wlk-taxi-logo.png" width="80" height="80" style="margin-top: 10px;" />
            <h1 style="margin-top: -55px; padding-left: 100px;">WLK Taxi Services</h1>
            <h2 class="shake-image" style="text-align: right; margin-top: -40px;">
                <i class="fa fa-phone-square" style="color: #333; font-size: 1em;"></i> 0756 333 2070
            </h2>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container" style="padding: 0px;">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="float: left;">
                <span>&copy; @DateTime.Now.Year - WLK Taxi Services</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="float: left;">
                <span><i class="fa fa-external-link"></i>&nbsp;&nbsp;<a style="color: #FFF;">www.WLKTaxiServices.co.uk</a></span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: left;">
                <span>Designed by KM Solutions</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="float: left; padding-right: 5px;">
                <span style="text-align: right;"><i class="fa fa-facebook-square" style="font-size: 2em"></i>&nbsp;&nbsp;&nbsp;</span>
                <span style="text-align: right;"><i class="fa fa-twitter-square" style="font-size: 2em"></i>&nbsp;&nbsp;&nbsp;</span>
                <span style="text-align: right;"><i class="fa fa-google-plus-square" style="font-size: 2em"></i>&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <link href="~/Content/Site.css" rel="stylesheet" />
</body>
</html>
