<div class="row">
    <div class="container">
        <div class="welcome-box">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="welcome-box-text">
                    <b>Taxi & Airport Transfer Services in Warwick, Leamington Spa & Kenilworth.</b>
                    <br /><br />
                    <p>WLK Taxi Service provides a safe, reliable and professional taxi service - with a luxurious fleet - and punctual, friendly and helpful drivers.</p>
                    <p>Our target is always your satisfaction.</p>
                    <div class="welcome-box-links-box">
                        <i class="shake-image-and-raise fa fa-phone-square" style="padding: 8px; padding-left: 14px; padding-right: 14px; ">
                            <div style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 11pt; padding-top: 5px;">Call</div>
                        </i>

                        <i class="shake-image-and-raise fa fa-whatsapp" style="padding: 8px;">
                            <div style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 11pt; padding-top: 5px;">WhatsApp</div>
                        </i>

                        <i class="shake-image-and-raise fa fa-envelope-square" style="padding: 8px; padding-left: 14px; padding-right: 14px;">
                            <div style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 11pt; padding-top: 5px;">Email</div>
                        </i>

                    </div>
                </div>
            </div>
        </div>
        <section class="carousel-container">
            <div class="caroufredsel_wrapper" style="display: block; text-align: center !important; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; height: 150px; overflow: hidden;">
                <div id="carousel" style="text-align: inherit; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px;">
                    <article>
                        <img src="~/Images/a1.png">
                    </article>
                    <article>
                        <img src="~/Images/a2.png">
                    </article>
                    <article>
                        <img src="~/Images/a3.png">
                    </article>
                    <article>
                        <img src="~/Images/b1.png">
                    </article>
                    <article>
                        <img src="~/Images/b2.png">
                    </article>
                    <article>
                        <img src="~/Images/b3.png">
                    </article>
                </div>
            </div>
            <a class="left carousel-control" id="prev" role="button" data-slide="prev">
                <i class="fa fa-chevron-circle-left" style="color: #000; font-size: 30pt;"></i>
            </a>
            <a class="right carousel-control" id="next" role="button" data-slide="next">
                <i class="fa fa-chevron-circle-right" style="color: #000; font-size: 30pt;"></i>
            </a>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: left;margin-top: 15px;">
        <div id="NewsSection">
            <div class="card">
                <div class="title-wrapper">
                    <div class="news-overlay brand-bg-color"></div>
                    <div class="title"><i class="fa fa-suitcase"></i>&nbsp;&nbsp;We Provide</div>
                </div>
                <div class="summary">
                    <div class="news-detail-description">
                        <p><i class="fa fa-caret-right" style="color:#FCCD0A"></i><span style="padding-left: 10px;">24x7 service</span></p>
                        <p><i class="fa fa-caret-right" style="color:#FCCD0A"></i><span style="padding-left: 10px;">All airport transfers</span></p>
                        <p><i class="fa fa-caret-right" style="color:#FCCD0A"></i><span style="padding-left: 10px;">8 seater taxis</span></p>
                        <p><i class="fa fa-caret-right" style="color:#FCCD0A"></i><span style="padding-left: 10px;">Wheelchair accessible taxis</span></p>
                        <p><i class="fa fa-caret-right" style="color:#FCCD0A"></i><span style="padding-left: 10px;">Quotes by WhatsApp & email</span></p>
                        <p><i class="fa fa-caret-right" style="color: #FCCD0A"></i><span style="padding-left: 10px;">Flexibility to pay card or cash</span></p>
                        <p><i class="fa fa-caret-right" style="color:#FCCD0A"></i><span style="padding-left: 10px;">Loyalty discounts</span></p>
                    </div>
                    <div class="card-footer">
                        <a title="More Details">
                            More Details&nbsp;&nbsp;<i class="fa fa-chevron-right" style="font-size: 0.85em; margin-top: 5px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: left;margin-top: 15px;">
        <div id="NewsSection">
            <div class="card">
                <div class="title-wrapper">
                    <div class="news-overlay brand-bg-color"></div>
                    <div class="title"><i class="fa fa-gbp"></i>&nbsp;&nbsp;We Accept</div>
                </div>
                <div class="summary">
                    <div class="news-detail-description">
                        <table class="table table-condensed" style=" text-align: center;">
                            <tr>
                                <td style="border: none;">
                                    <img src="~/Images/card-visa.png" width="70" />
                                </td>
                                <td style="border: none;">
                                    <img src="~/Images/card-mastercard.png" width="70" />
                                </td>
                                <td style="border: none;">
                                    <img src="~/Images/card-american-express.png" width="70" />
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">
                                    <img src="~/Images/card-paypal.png" width="70"/>
                                </td>
                                <td style="border: none;">
                                    <img src="~/Images/card-maestro.png" width="70"/>
                                </td>
                                <td style="border: none;">
                                    <img src="~/Images/card-solo.png" width="70"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none; padding-top: 20px;" colspan="3">
                                    And of course, <b>cash payments</b>.
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a title="More Details">
                            Get a Quote&nbsp;&nbsp;<i class="fa fa-chevron-right" style="font-size: 0.85em; margin-top: 5px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: left;margin-top: 15px;">
        <div id="NewsSection">
            <div class="card">
                <div class="title-wrapper">
                    <div class="news-overlay brand-bg-color"></div>
                    <div class="title"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Popular Journeys</div>
                </div>
                <div class="summary" style="padding: 10px 0px 10px 0;">
                    <div class="news-detail-description">
                        <table class="table table-striped table-condensed" style="width: 100%;">
                            <tr>
                                <td style="padding-left: 15px; border: none;">Leamington Spa to Coventry</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£25.00</td>
                            </tr>
                            <tr>
                                <td style="padding-left: 15px; border: none;">Warwick to Coventry</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£25.00</td>
                            <tr>
                                <td style="padding-left: 15px; border: none;">Leamington Spa to Stratford</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£25.00</td>
                            <tr>
                                <td style="padding-left: 15px; border: none;">Warwick to Stratford</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£20.00</td>
                            <tr>
                                <td style="padding-left: 15px; border: none;">Leamington Spa to Gaydon</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£25.00</td>
                            <tr>
                                <td style="padding-left: 15px; border: none;">Warwick to Gaydon</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£25.00</td>
                            <tr>
                                <td style="padding-left: 15px; border: none;">Leamington Spa to Rugby</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£35.00</td>
                            <tr>
                                <td style="padding-left: 15px; border: none;">Warwick to Rugby</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£40.00</td>
                            <tr>
                                <td style="padding-left: 15px; border: none;">Leamington Spa to London</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£160.00</td>
                            <tr>
                                <td style="padding-left: 15px; border: none;">To Birmingham Airport</td>
                                <td style="padding-right: 10px; text-align: right; border: none;">£40.00</td>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a title="More Details">
                            More Details&nbsp;&nbsp;<i class="fa fa-chevron-right" style="font-size: 0.85em; margin-top: 5px;"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #carousel {
        text-align: center !important;
        width: 100%;
        margin: 50px;
    }

    .caroufredsel_wrapper {
        margin: 0 70px;
    }

    #carousel article {
        float: left;
        width: 200px;
        height: 250px;
        margin-top: 10px;
        margin-right: 5px;
        padding-right: 20px;
    }

        #carousel article img {
            width: 190px;
        }

    .carousel-container {
        position: relative;
    }

    .carousel-control.right {
        background: -webkit-linear-gradient(left, TRANSPARENT, #CCC) !important;
        width: 10%;
    }

    .carousel-control.left {
        background: -webkit-linear-gradient(right, TRANSPARENT, #CCC) !important;
        width: 10%;
    }

    #prev, #next {
        /*display: none;*/
    }

        #prev i, #next i {
            position: absolute;
            bottom: 20%;
            top: 40%;
            z-index: 10;
            cursor: pointer;
        }

        #prev i {
            left: 10%;
        }

        #next i {
            right: 10%;
        }
</style>
